@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --secondary-color: #F1F2FF;
  --header-height: 50px;
  --total-height: 518.32px;
  --footer-height: 60px;
  --border-color: #B9BaE3;
  --progress-color:#58D7AD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}
.fw-m{
  font-weight: 500;
}
.fw-b{
  font-weight: 600;
}

.fs-xl{
  font-size: 20px;
}
.fs-l{
  font-size: 18px;
}
.fs-m{
  font-size: 16px;
}
.fs-s{
  font-size: 14px;
}
/* flex related classes */
.flex {
  display: flex;
}

.none{
  display: none;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

/* alignment */
.text-center {
  text-align: center;
}

/* margin related */
.m-s {
  margin: 8px;
}
.mr-s{
  margin-right: 8px;
}

.m-m {
  margin: 12px;
}

.m-nb {
  margin-bottom: 0;
}
.mt-m{
  margin-top:8px
}
.mt-xl{
  margin-top:16px
}

.m-rm{
  margin-right: 8px;
}
body {
  width: 360px;
  background-color: #ffffff;
}

header .logo .logo-image {
  height: 20px;
}

header {
  height: 50px;
  background-color: var(--secondary-color);
}

.container {
  padding: 60px 10px;
}

.text-heading {
  font-size: 24px;
  color: #000000;
}

.text-para {
  color: #979797;
  font-size: 16px;
  font-weight: 500;
}

.input-group input {
  border-radius: 8px;
  padding: 12px 12px;
  border: none;
  width: calc(100% - 12px);
  border: 1px solid #E6E6E6;
  margin: 5px;
}

.input-group input::placeholder {
  font-weight: 600;
  color: #979797;
  font-size: 14px;
}

.input-group button {
  border-radius: 8px;
  padding: 12px 12px;
  width: calc(100% - 12px);
  border: 1px solid #E6E6E6;
  margin: 5px;
}

.input-group button span {
  height: 16px;
}

.button-primary {
  color: #ffffff;
  background: linear-gradient(90deg, #5F49CC, #696CE4);
  font-weight: 600;
}

.icon {
  height: 16px;
}
.icon-lg{
  height: 20px;
}

.warning{
  color: red;
  font-size: 12px;
}

/* Authentication page css */
.authenticate-footer {
  min-height: 50px;
  font-size: 14px;
  line-height: 18px;
  padding: 16px;
  background-color: var(--secondary-color);
  color: #5D5E98;
  font-weight: 500;
}

.authenticate-footer .help a {
  text-decoration: none;
  color: inherit;
}


/* footer */
.loading .container {
  min-height: 408.35px;
  flex-direction: column;
}

.loading .text-heading {
  font-size: 20px;
}

.loading .text-para {
  color: #5D5E98;
}

.loader {
  margin: 0 10px;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 2s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* success */

.success .container {
  min-height: 468.35px;
  flex-direction: column;
}

.success .text-heading{
  font-size: 20px;
}


/* wrong */


.wrong .input-group {
  padding: 20px 16px;
}

.wrong .container {
  flex-direction: column;
  min-height: calc(var(--total-height) - var(--header-height) - 92px);
}


/* reload */

.reload .container {
  min-height: 408.35px;
  flex-direction: column;
}

.reload .text-heading {
  font-size: 20px;
}

.reload .text-para {
  color: #5D5E98;
}

/* notFound */

.main-notFound .container {
  min-height: 408.35px;
}

.main-notFound .text-heading {
  font-size: 20px;
}

.main-notFound .text-para {
  color: #5D5E98;
}

.main-notFound .not-found-image {
  width: 150px;
}

.main-notFound .input-group button {
  padding: 6px 8px;
  color: #696CE4;
  border-color: #696CE4;
  width: fit-content;
  background-color: #fff;
}

.main-notFound .input-group button span {
  font-size: 14px;
}

/* footer after user log in */

.footer-loggedIn  {
  padding: 10px;
  height: 60px;
  background-color: var(--secondary-color);
}

.footer-loggedIn .footer-toolkit {
  display: grid;
  grid-template-columns: 1fr 40px 40px;
  gap: 0 10px;
}

.footer-loggedIn .footer-toolkit a {
  border: none;
  background-color: inherit;
  height: 40px;
  text-decoration: none;
}

.footer-loggedIn .footer-toolkit a>img {
  height: 40px;
}

.footer-loggedIn .footer-toolkit .button-marketing {
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
}

.footer-loggedIn .footer-toolkit .button-marketing .gem-icon {
  padding: 0 10px;
  height: 14px;
}

.btn{
  border: 1px solid var(--border-color);
  background: #fff;
  padding: 8px 12px;
  margin: 10px auto;
  display: block;
  color:#000;
  border-radius: 4px;
}

/* start page */
.start {
  min-height:  calc(var(--total-height) - var(--header-height) - var(--footer-height));
}
.slack-color{
  color:#5D5E98;
}
.total-member-count{
  font-size: 48px;
  color: #000;
}
.slack-image-container img{
  height: 88px;
}

.start .container{
  padding: 10px;
}

.start .container .button-primary{
  width: fit-content;
  padding: 12px 20px ;
  cursor: pointer;
}
.progress{
  color:var(--progress-color);
}
.button-progress{
  background: linear-gradient(90deg,#4ACC90,#69E4CE) ;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}


/* load to slack page */
.slackPage .container{
  padding: 0;
  height: calc(var(--total-height) - var(--header-height));
}
.slackPage .container p{
  text-align: center;
  width: 80%;
}


.slack-title p{
  margin-top: 50%;
  color:red;
   text-align : center ;
   display:grid;
   place-items: center center;
}


.slack-image-container h3{
  color:#5F49CC;
  font-size: large;
  float: left;
}

.slack-image-container p{
  text-align: center;
  color: #5D5E98;
  font-size: 20px;
}

.dp{
  padding: 10px;
}

.dp p{
  color: #5D5E98;
  font-size: 13px;
}


.data-points button{
  size: 8px;
  margin: 2px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #5D5E98;
  font-size: x-small;
}

.start-scraping{
  size:10px;
}

.number-scrape p{
  font-size: small;
  color:#5F49CC;
  font-weight: bold;
}

.number-scrape span{
  border: 1px solid #5F49CC;
  border-radius: 50%;;
  color:#5F49CC;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}
.number-scrape input{
  display: block;
  margin: auto;
  padding: 10px;
  width: 120px;
  border: 1px solid #5F49CC;
  text-align: center;
}

.dp .ms{
  margin-top: 10px;
  font-size: large;
  font-weight: bolder;
}

.dp .number-scraped{
  margin-top: 100px;
  display: flex;
  place-items: center center;
  font-size: x-large;

}

.dp .number-scraped #number{
  color: #4ACC90;
}

#view-data{
  background-image: linear-gradient(to right,#4ACC90,#a1ffd3);
  width: 200px;
  color:white;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
}

#logout{
  cursor: pointer;
}

#variable{
  display: none;
}


